.git/

.idea/

logs/
models/

#config/*.yml

rest-api/logs/
rest-api/out/

target/
*.jar
*.log
*.iml

out/production

# eclipse ignore
.settings/
.project
.classpath
KeyStore.jks

dump.rdb

ExecutorQueueName

ResourceQueueName

agentDailyCount/

callDetail/
.DS_Store
ocs_executor/.DS_Store
ocs_executor/src/.DS_Store
ocs_executor/src/main/.DS_Store
ocs_scheduler_new/.DS_Store
rest-api/.DS_Store
rest-api/src/.DS_Store
rest-api/src/main/java/com/egoo/freelink/rest/api/xregister/controller/pubsub/

task_data/2017-12-04
task_data/2017-12-06
task_data_back/2017-12-08